.Button {
  border: 1px solid black;
  border-bottom: none;
  border-radius: 4px;
  padding: 7px;
  text-align: center;
  font-size: 15px;
  background: #fff;
  transition: background ease-in 0.1s;

  &:last-of-type {
    border-bottom: 1px solid black;
  }

  &:hover {
    cursor: pointer;
    background: transparent;
  }

  &.on {
    background: #e94f1e;
    color: #fff;
  }
}
