.synthsContainer {
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;

  .AmbientSynth {
    border-bottom: 1px solid #000;

    .ambientFirstRow {
      display: flex;

      .ambientEnvelope {
        border-right: 1px solid #000;
        width: 30%;
        display: flex;
        justify-content: space-around;
        align-items: center;
      }
    }

    .ambientLoops {
      border: 1px solid #000;
      // border-radius: 4px;
      border-top: none;
      display: flex;
      width: 100%;
      justify-content: flex-start;

      .AmbientEnv {
        display: flex;

        .KnobWrapper {
          display: flex;
          flex-direction: column;
          margin: auto;
          justify-content: center;
          align-items: center;
          width: 80px;
        }
      }

      .mainControls {
        width: 15%;
        padding-left: 40px;
        border-right: 1px solid #000;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        .volume {
          width: 150px;
        }
      }

      .loops {
        display: flex;
        justify-content: space-between;
        width: 650px;
        margin: 15px 25px;

        .loop {
          display: flex;
          flex-direction: column;
          align-items: center;

          h2 {
            font-size: 14px;
            margin-bottom: 7px;
          }
        }
      }
    }
  }

  .rhSynth {
    display: flex;

    .rhLoops {
      border: 1px solid #000;
      border-bottom: none;
      // border-radius: 4px;
      display: flex;
      width: 100%;
      justify-content: space-between;

      .mainControls {
        width: 30%;
        padding: 10px;
        border-right: 1px solid #000;
        // border-radius: 4px;
        display: flex;
        justify-content: space-around;
        align-items: center;

        .control {
          width: 150px;
        }
      }

      .playSynth {
        h2 {
          font-size: 14px;
          margin-bottom: 7px;
          text-align: center;
        }
      }

      .loops {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 70%;
        margin: 15px 0;
        padding: 0 150px;

        .lyrics {
          margin-left: 40px;
          padding: 15px;
          filter: blur(1px);
          background-color: rgba(255, 255, 255, 0.8);
          border-radius: 10px;

          p {
            text-align: right;
          }
        }

        .loop {
          display: flex;
          flex-direction: column;
          align-items: center;

          h2 {
            font-size: 14px;
            margin-bottom: 7px;
          }
        }
      }
    }

    .rhPresets {
      width: 392px;
    }
  }

  .ambientSynth {
    height: 300px;
  }
}

.effectsContainer {
  display: flex;

  .rhEffects {
    border: 1px solid #000;
    border-radius: 4px;
    display: flex;
    flex-wrap: wrap;
    border-right: none;
  }

  .ambientEffects {
  }

  .keyEffects {
  }
}
