.Effect {
  width: 225px;
  border-right: 4px solid #000;
  padding: 10px;

  .Knob {
    position: relative;
    bottom: 20px;
  }

  // &.lastEffect {
  //   border-bottom: none;
  // }

  h1 {
    text-align: center;
    margin-bottom: 21px;
    font-size: 15px;
  }

  h2 {
    text-align: center;
    margin-bottom: 21px;
    font-size: 13px;
  }

  .controlsContainer {
  }

  .sliderContainer {
    height: 30px;
    margin: 15px 0 0px;
  }
}
