.row {
  display: flex;

  .KnobWrapper {
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    align-items: center;

    h3 {
      font-size: 14px;
      margin-bottom: 7px;
    }

    .Knob {
      margin: 5px 0;
      position: relative;
      width: 55px;
      height: 55px;
      border-radius: 50%;
      background: #000;

      &:hover {
        cursor: pointer;
        background: #ffe107;
      }

      .knobStroke {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 3px solid #000;
      }

      &::before {
        position: absolute;
        top: calc(50% - 5px);
        display: block;
        content: '';
        width: 10px;
        height: 10px;
        background: #fff;
        left: 10px;
        border-radius: 50%;
      }
    }
  }
}
